
#===NOTE
# 
# コメントアウトしているものはOption扱いです
#
# 有効にする場合
#
# 0. 対象をコメントアウト
# 1.「carthage update --platform iOS --no-use-binaries --cache-builds」を実行
# 2.「LinkBinary With Libraries」「RunScript(Carthage)」に追加
#
# Carthage参考
# https://bit.ly/2IU8Jzg
#

#===Network
#github "Alamofire/Alamofire" ~> 4.7

#===Async
#github "Thomvis/BrightFutures"

#===Routing
#github "hyperoslo/Compass"

#===UI
github "ninjaprox/NVActivityIndicatorView"

#===ImageLoader
github "kean/Nuke" ~> 6.0

#===DB
#github "realm/realm-cocoa"

#===ファイル保存
#github "saoudrizwan/Disk"

#===utility
github "Ekhoo/Device" ~> 3.0.3
github "malcommac/SwiftDate" ~> 4.5.1
#github "malcommac/SwiftLocation"
#github "kishikawakatsumi/KeychainAccess"



#===PushNotification
#github "NIFTYCloud-mbaas/ncmb_ios"
#github "aws/aws-sdk-ios"

# Firebaseはまだ公式サポートしていないのでpodを利用のこと

#===Test
github "Quick/Quick" ~> 1.2.0
github "Quick/Nimble" ~> 7.0.3
