//
//  Config.Debug.xcconfig
//  XLProjectName
//
//  Created by XLAuthorName
//  Copyright © 2018 XLOrganizationName. All rights reserved.
//
#include "Pods/Target Support Files/Pods-XLProjectName/Pods-XLProjectName.debug.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER=XLOrganizationIdentifier.XLProjectName.debug
OTHER_SWIFT_FLAGS = $(inherited) "-Onone" "-D" "DEBUG" "-D" "COCOAPODS" "-Xfrontend" "-warn-long-function-bodies=150"

// Push Notification
NCMB_APPLICATION_KEY = mBaasで作成したアプリケーションキーを設定
NCMB_CLIENT_KEY = mBaasで作成したクライアントキーを設定
AWS_SNS_PLATFORM_ARN = AWS SNSで作成したApplicationのARNを設定
